<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=auto" rel="stylesheet">
	<link href="{{ QI_PATH }}style/assets/css/qi_bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="{{ QI_PATH }}style/assets/css/qi_style.css" rel="stylesheet" media="screen">
	<title>{{ MSG_TITLE }}</title>
</head>
<body class="bg-secondary">
<nav class="navbar navbar-dark sticky-top navbar-expand-lg bg-primary flex-md-nowrap mb-2">
	<div class="container-fluid">
		<span class="navbar-brand"><span class="phpbb-logo"></span><span class="fs-4">{{ lang('QUICKINSTALL_LOGO', QI_PATH ~ 'style') }}</span></span>
	</div>
</nav>
<div class="container-fluid">
	<div id="main" class="px-5">
		<h1>{{ MSG_TITLE }}</h1>
		<div class="card mb-3">
			<div class="card-body">
				<div><strong>{{ MSG_EXPLAIN }}</strong></div>
				<div>{{ MSG_TEXT }}</div>
			</div>
		</div>
		<div>
			{{ RETURN_LINKS }}
		</div>
	</div>
	<footer class="text-center py-3">
		<p class="mb-0"><small>{{ lang('PHPBB_QI_FULLLINK', QI_VERSION) }}</small></p>
		<p class="mb-0"><small>{{ lang('POWERED_BY_PHPBB') }}</small></p>
	</footer>
</div>
</body>
</html>
