<nav class="navbar navbar-light sticky-top navbar-expand-lg {% if S_SETTINGS or S_BOARDS or S_ERROR %}bg-secondary{% else %}bg-body{% endif %} mb-2 border-bottom">
	<div class="container-fluid px-0">
		<span class="navbar-brand"><span class="phpbb-logo-nb"></span><span class="fs-4 text-primary">{{ lang('QUICKINSTALL_LOGO', '<svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="' ~ QI_ROOT_PATH ~ 'style/assets/img/bootstrap-icons.svg#lightning-fill"/></svg>') }}</span></span>
		<div>
			{% if S_BOARDS %}
				<button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="{{ lang('BOARDS_LIST') }}">
					<span class="navbar-toggler-icon navbar-toggler-icon-qi-boards"></span>
				</button>
			{% endif %}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="{{ lang('TOGGLE_NAVIGATION') }}">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse justify-content-end" id="navbar">
			<ul class="navbar-nav mt-2 mt-md-0">
				{% if not S_IN_INSTALL and S_HAS_PROFILES %}
					<li class="nav-item fs-5"><a class="nav-link{% if S_BOARDS %} active{% endif %}"{% if S_BOARDS %} aria-current="page"{% endif %} href="{{ U_MAIN }}">{{ lang('BOARDS') }}</a></li>
				{% endif %}
				<li class="nav-item fs-5"><a class="nav-link{% if S_SETTINGS %} active{% endif %}"{% if S_SETTINGS %} aria-current="page"{% endif %} href="{{ U_SETTINGS }}">{{ lang('PROFILES') }}</a></li>
				<li class="nav-item fs-5"><a class="nav-link{% if S_DOCS %} active{% endif %}"{% if S_DOCS %} aria-current="page"{% endif %} href="{{ U_DOCS }}">{{ lang('DOCS_SHORT') }}</a></li>
				<li class="nav-item fs-5"><a class="nav-link{% if S_PHPINFO %} active{% endif %}"{% if S_PHPINFO %} aria-current="page"{% endif %} href="{{ U_PHPINFO }}">{{ lang('PHPINFO') }}</a></li>
				<li class="nav-item fs-5"><a class="nav-link" href="https://github.com/phpbb/quickinstall" title="{{ lang('GITHUB') }}"><svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="{{ QI_ROOT_PATH }}style/assets/img/bootstrap-icons.svg#github"/></svg></a></li>
			</ul>
		</div>
	</div>
</nav>
