<div class="d-flex flex-column align-items-stretch">
	<h4 class="my-2">{{ lang('BOARDS_LIST') }}</h4>
	{% for board in board_row %}
		{% if loop.first %}
		<form id="del_board" method="post" action="{{ U_MANAGE }}">
			<div class="list-group list-group-flush">
		{% endif %}
				<div class="list-group-item py-2 px-0 bg-transparent">
					<div class="d-flex w-100 align-items-center justify-content-between">
						<div class="form-check form-switch m-1 overflow-hidden">
							<input type="checkbox" role="switch" class="form-check-input" data-qi-mark id="del_board_{{ loop.index }}" name="select[]" value="{{ board.BOARD_NAME }}" title="{{ lang('MARK_FOR_DELETION') }}">
							<label class="form-check-label fw-strong" for="del_board_{{ loop.index }}"><a href="{{ board.BOARD_URL }}" title="{{ lang('GOTO_BOARD', board.BOARD_NAME) }}">{{ board.BOARD_NAME }}</a></label>
						</div>
						{% if board.VERSION %}<span class="badge rounded-pill fw- m-1">{{ board.VERSION }}</span>{% endif %}
					</div>
				</div>
		{% if loop.last %}
				<div class="form-check form-switch my-3 mx-1">
					<input type="checkbox" role="switch" class="form-check-input" id="toggle_all" data-qi-mark-list="markall" data-qi-mark-target="#del_board">
					<label class="form-check-label text-muted" for="toggle_all">{{ lang('SELECT_ALL') }}</label>
				</div>
				<div>
					<button class="btn btn-danger" name="delete" type="submit" value="delete" data-qi-confirm="{{ lang('SURE_DELETE_BOARDS') }}">
						<svg class="bi text-white" width="16" height="16" fill="currentColor">
							<use xlink:href="{{ QI_ROOT_PATH }}style/assets/img/bootstrap-icons.svg#trash"/>
						</svg> {{ lang('DELETE') }}
					</button>
				</div>
			</div>
		</form>
		{% endif %}
	{% else %}
		<p class="pt-3">{{ lang('NO_BOARDS') }}</p>
	{% endfor %}
</div>
